= form_for @inventory do |f|
    
    // ERROR MESSAGES
    = render "shared/errors", model: @inventory
    
    .col-md-4
        .form-group
            = f.label :product_id, 'Product'
            = f.collection_select(:product_id, Product.all, :id, :name, {}, {:class => 'form-control input-sm'})
        
    .col-md-5
        .form-group
            = f.label :location_id, 'Location'
            = f.collection_select(:location_id, Location.all, :id, :address, {}, {:class => 'form-control input-sm'})
    
    .col-md-2
        .form-group
            = f.label :quantity
            = f.text_field :quantity, class: 'form-control input-sm'
    
    .col-md-1
        .form-group
            %br
            = f.submit 'Add', class: 'btn btn-success btn-sm'
        
    