= form_for @user do |f|

    .well
        .form-group
            = f.label :email
            = f.text_field :email, class: 'form-control'
            
        .form-group
            = f.label :password
            = f.password_field :password, autocomplete: 'off', class: 'form-control'
            
        .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, class: 'form-control'
        
        %legend Roles
        
        .form-group
            - Role.all.each do |role|
                = check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id)
                = role.name
            
        .form-group
            = f.submit ( f.object.new_record? ? "Add User" : "Save Changes"), class: 'btn btn-success'
            = link_to 'Cancel', :back, class: 'btn btn-default'