.page-header
    %h2 Orders
    
// SEARCH ORDERS
= render 'search_orders'
            
%table.table.table-responsive.table-striped.table-hover
    %thead
        %tr
            %th #
            %th Token
            %th Address
            %th Date
            %th Status
            %th
    %tbody
        - @orders.each_with_index do |order, index|
            %tr
                %td= index+1
                %td= link_to order.token, order
                %td= order.address.truncate(13)
                %td
                    %span{"data-toggle": "tooltip", "data-placement": "top", title: "#{order.created_at.strftime('%A %B %d %Y')}"}
                        = order.created_at.strftime("%d/%m/%Y")
                %td= display_order_status(order.status)
                %td
                    .btn-group
                        - if can? :read, order
                            = link_to order, class: 'btn btn-xs btn-default' do
                                %i.fa.fa-eye
                        - if can? :update, order
                            = link_to [:edit, order], class: 'btn btn-xs btn-warning' do
                                %i.fa.fa-pencil
                        - if can? :destroy, order
                            = link_to order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' do
                                %i.fa.fa-trash
    
// PAGINATION
.text-center
    = will_paginate @orders, renderer: BootstrapPagination::Rails, class: 'pagination-sm'