.page-header
    %h2
        = @order.token
    
        .btn-group.pull-right
            = link_to [:edit, @order], class: 'btn btn-default btn-xs' do
                %i.fa.fa-pencil
                Edit
                
            = link_to @order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do
                %i.fa.fa-trash
                Delete
                
.row
    .col-md-6
        %p
            %strong Address:
            = @order.address
            
        %p
            %strong Issue Date:
            = @order.created_at.strftime("%A %B %d %Y")
            
        %p
            %strong Assigned Courier:
            
        %p
            %strong Status:
            = display_order_status(@order.status)
        
    .col-md-6
        %p
            %strong Comments:
            %br
            = @order.comments
        
.row
    .col-md-12
        %h3 Order Detail
        
        %table.table.table-responsive.table-striped.table-hover
            %thead
                %tr
                    %th Product Name
                    %th Product ID
                    %th Unit Price
                    %th Quantity
            %tbody
                - @order.order_items.each do |item|
                    %tr
                        %td= link_to item.product.name, item.product
                        %td= item.product.product_id
                        %td
                            L.
                            = item.product.unit_price
                        %td= item.quantity
        
        %h4
            %strong Order Total:
            = @order.order_total

%hr

= link_to orders_path do
    %i.fa.fa-arrow-left
    Back