.page-header
    %h2
        = @order.token
    
        .btn-group.pull-right
            - if can? :update, @order
                = link_to [:edit, @order], class: 'btn btn-default btn-xs' do
                    %i.fa.fa-pencil
                    Edit
            
            - if can? :destroy, @order
                = link_to @order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do
                    %i.fa.fa-trash
                    Delete

.row
    .col-md-12
        .pull-right
            %ul.list-inline
                - if (can? :assign_courier, User) && (@order.status == "Pending")
                    %li
                        %a{ href: "#", "data-toggle": "modal", "data-target": "#assign-courier" }
                            %i.fa.fa-user-plus
                            Assign/Change Courier
                            
                - if (can? :accept_order, @order) && (@order.status == "Pending") && ( !current_user.has_role? :admin)
                    %li
                        %a{ href: "#", "data-toggle": "modal", "data-target": "#accept-order" }
                            %i.fa.fa-hand-pointer-o
                            Accept Order
                            
                - if (can? :cancel_order, @order) && (['Delivering', 'Pending'].include? @order.status)
                    %li
                        %a{ href: "#", "data-toggle": "modal", "data-target": "#cancel-order" }
                            %i.fa.fa-times
                            Cancel Order
                            
                - if (can? :complete_order, @order) && (@order.status == "Delivering")
                    %li
                        = link_to complete_order_path(:id => @order.id), method: :get, data: { confirm: 'Are you sure?' } do
                            %i.fa.fa-check
                            Mark as Completed
                            
                    
                    

.row
    .col-md-6
        %p
            %strong Address:
            = @order.address
            
        %p
            %strong Issue Date:
            = @order.created_at.strftime("%A %B %d %Y")
            
        %p
            %strong Assigned Courier:
            = "#{@order.courier.blank? ? 'None' : @order.courier.email }"
            
            
        %p
            %strong Status:
            = display_order_status(@order.status)
        
    .col-md-6
        %p
            %strong Comments:
            %br
            = @order.comments
        
.row
    .col-md-12
        %h3 Order Detail
        
        %table.table.table-responsive.table-striped.table-hover
            %thead
                %tr
                    %th Product Name
                    %th Product ID
                    %th Unit Price
                    %th Quantity
            %tbody
                - @order.order_items.each do |item|
                    %tr
                        %td= link_to item.product.name, item.product
                        %td= item.product.product_id
                        %td
                            L.
                            = item.product.unit_price
                        %td= item.quantity
        
        %h4
            %strong Order Total:
            = @order.order_total

%hr

= link_to orders_path do
    %i.fa.fa-arrow-left
    Back
    
/ ASSIGN COURIER MODAL
= render 'assign_courier_modal'
= render 'accept_order_modal'
= render 'cancel_order_modal'