.page-header
    %h2
        = @product.name
    
        .btn-group.pull-right
            - if can? :update, @product
                = link_to [:edit, @product], class: 'btn btn-default btn-xs' do
                    %i.fa.fa-pencil
                    Edit
            
            - if can? :destroy, @product
                = link_to @product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do
                    %i.fa.fa-trash
                    Delete
                
.row
    .col-md-3
        = image_tag @product.photo_url(:thumb).to_s, class: 'img-rounded'
    .col-md-9
        %ul.list-unstyled
            %li
                %strong Product ID:
                = @product.product_id
                
            %li
                %strong Unit Price:
                L.
                = @product.unit_price
    
        %p= simple_format h @product.description

%hr

= link_to products_path do
    %i.fa.fa-arrow-left
    Back