.row
    .col-md-12
        
        .pull-right
            = link_to new_inventory_path do
                %i.fa.fa-plus
                Add Inventory
    
        %table.table.table-responsive.table-striped.table-hover
            %thead
                %tr
                    %th Product
                    %th Product ID
                    %th Unit Price
                    %th Stock Qty.
                    %th
            %tbody
                - @inventories.each do |item|
                    %tr
                        %td= link_to item.product.name, item.product
                        %td= item.product.product_id
                        %td
                            L.
                            = item.product.unit_price
                        %td= item.quantity
                        %td
                            .btn-group
    